/*header class*/
.header {
    overflow: hidden;
    background-color:#f1f1f1;
    padding :20px 10px;
}
/*header elements, right side*/
.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}
/*home icon, redirect to home*/
.header a.icon {
    font-size:25px;
    font-weight: bold;
}
/*color when hover header elements*/
.header a:hover {
    background-color: lightgrey;
}
/*change color of header element when on that page*/
.header a.active {
    background-color: silver;
    color: darkblue; 
}
/*header right formatting*/
.header-right {
    float:right;
}
/*dropdown formatting*/
.dropdown {
    float: left;
    overflow: hidden;
}
/*dropdown elements in header formating*/
.dropdown .dropbtn {
    font-size: 16px;
    border:none;
    outline:none;
    color:black;
    padding:14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
/*dropdown elements hover color*/
.header .dropdown:hover .dropdtn {
    background-color: lightgray;
}
/*project formatting*/
.projects {
    display:none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/*project hover*/
.project a:hover {
    background-color: #ddd;
}

.dropdown:hover .projects {
    display: block;
}
/*page shift if on mobile*/
@media screen and (max-width: 500px) {
    .header a{
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float:none;
    }
}
/*---start of body style---*/ 
body {
    background-color: lightgray;
}